* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
}

.select-service-box {
    display: grid;
    place-content: center;
}

.form-check {
    border: 1px solid rgb(24, 231, 231);
}

legend {
    font-weight: bold;
}

.contact-form {
    border-radius: 10px;
    max-width: 720px;
    margin: auto;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.contact-form .form-group {
    margin-bottom: 15px;
}

.contact-form label {
    font-weight: bold;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

.contact-form button:hover {
    background-color: #0056b3;
}

.contact-form input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(24, 231, 231);
    outline: none;
    color: #fff;
}

.contact-form textarea::placeholder,
.contact-form input::placeholder {
    color: #fff;
}

.contact-form textarea {
    background-color: transparent;
    border: none;
    border: 2px solid rgb(24, 231, 231);
    outline: none;
}

.contact-form button {
    width: 150px;
    height: 40px;
    color: black;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background: rgb(24, 231, 231);
}